$TRANSLATION: '#__translation-content__';

.show {
    display: block !important;
}

#{$TRANSLATION} {
    & {
        position: absolute;
        display: none;
        border: black 1px solid;
        transition: all ease-in-out .5s;
    }

    &-icon {
        width: 45px;
        height: 45px;
        background: white url("chrome-extension://__MSG_@@extension_id__/assets/icon.png") no-repeat center;
    }

    &-content {
        width: 500px;
        max-height: 300px;
    }
}