%border {
    margin: 25px;
    border: 1px dashed rgba(255, 255, 255, 0.4);
    border-radius: 3px;
    overflow: hidden;
}

::selection {
    background: rgba(255, 255, 255, 0.4);
    color: inherit;
}

::-webkit-scrollbar {
    height: 12px;
    width: 12px
}

::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: #afafaf;
    min-height: 28px
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
    border-left: 1px dashed rgba(255, 255, 255, 0.4);
}

body {
    margin: 0;
    min-height: 100vh;
    box-sizing: border-box;
    color: #323232;
    font: 1em/1.5 "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    background-image: linear-gradient(-120deg, #26e289, #1a5fa2 100%, red 200%);
}

.wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.title {
    grid-row: 1;
    grid-column: 1/5;
    text-align: center;
}

.file-drop-area {
    grid-row: 2;
    grid-column: 1/2;
    position: relative;
    display: flex;
    align-items: center;
    padding: 25px;
    @extend %border;
    transition: 0.2s;
    &.is-active {
        background-color: rgba(255, 255, 255, 0.05);
    }
    .fake-btn {
        flex-shrink: 0;
        background-color: rgba(255, 255, 255, 0.04);
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 3px;
        padding: 8px 15px;
        margin-right: 10px;
        font-size: 12px;
        text-transform: uppercase;
    }

    .file-msg {
        font-size: small;
        font-weight: 300;
        line-height: 1.4;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .file-input {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        cursor: pointer;
        opacity: 0;
        &:focus {
            outline: none;
        }
    }
}

.voice{
    grid-row: 3;
    grid-column: 1/2;
}

.search {
    grid-row: 4;
    grid-column: 1/2;
    @extend %border;
    background: transparent;
    overflow: initial;
}

.definition {
    grid-row: 2/6;
    grid-column: 2/5;
    position: relative;
    @extend %border;
    padding: 10px;
    background: rgba(255, 255, 255, .25);
    .voice-icon{
        position: absolute;
        top: 0;
        right: 0;
        width: 100px;
        height: 100px;
        background: url("../assets/voice.svg") no-repeat center;
        cursor: pointer;
    }
}