.content{
    width: 100%;
    transition: height ease-in-out 1s;
}
.daily{
    width: 100%;
    height: 300px;
}
.popup {
    position: absolute;
    border: 1px dashed white;
    border-radius: 3px;
    background-color: white;
    cursor: pointer;
    div {
        display: inline-block;
    }
}